[submodule "src/DCSFPStreamDeckSharp"]
	path = src/DCSFPStreamDeckSharp
	url = https://github.com/DCSFlightpanels/DCSFPStreamDeckSharp
[submodule "src/DCSFPOpenMacroBoard.SDK"]
	path = src/DCSFPOpenMacroBoard.SDK
	url = https://github.com/DCSFlightpanels/DCSFPOpenMacroBoard.SDK
